<div class="container-fluid">
	<div class="card">

		<div class="row">
			<div class="col-xs-12 alignCenter card-header">
				<h3 style="font-size: 20px; text-align: center; margin-top: 0;">TV
					Ticker</h3>
			</div>
		</div>
		
		<div class="row1">
			<div class="col-xs-12 ">
				<flash-message duration="5000" show-close="true"
					on-dismiss="myCallback(flash);"></flash-message>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 smallFont">
				<div class="col-xs-6">
					<div class="col-xs-1 ">Search:&nbsp;</div>
					<div class="col-xs-7">
						<input type="text" class="search-query form-control"
							placeholder="Search" ng-model="searchText" />
					</div>
					<div class="col-xs-3 rightAlign ">
						Channel List <select ng-model='selected.rowLimit'
							ng-options=' option for option in rowLimitOptionArray' required></select>
					</div>
				</div>

				<div class="col-xs-6 ">
					<div class="col-xs-1 rightAlign paddingClass">From: &nbsp;</div>
					<div class="col-xs-3 smallFont ">
						<input type="datetime-local" id="exampleInput" name="dateFrom" ng-model="example.value"
  placeholder="yyyy-MM-ddTHH:mm:ss"  required />
					</div>
					<div class="col-xs-1 rightAlign paddingClass">To: &nbsp;</div>
					<div class="col-xs-3 smallFont ">
						<input type="datetime-local" id="exampleInput" name="dateTo" ng-model="date"
  placeholder="yyyy-MM-ddTHH:mm:ss"  required />
					</div>
					<div class="col-xs-4 smallFont paddingClass rightAlign">
						<div class="col-xs-11">
							showing <select ng-model='selected.rowLimit' required
								ng-options=' option for option in rowLimitOptionArray'></select>
							entries
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="card-body">
			<table>
				<thead>
					<tr>
						<th>Company</th>
						<th>Ticker Name</th>
						<th>Commodity</th>
						<th>Frequency</th>
						<th>Time</th>
						<th ng-show="permissions">View</th>
					</tr>
				</thead>
				<tr>
					<td>Orient Cements</td>
					<td>Taking Measures to Reduce per unit cost of production</td>
					<td>-</td>
					<td>5</td>
					<td>2018:11:22 08:35:40</td>
					<td>
						<!-- ||companyList.requested == true --> <!--  <button class="btn btnModified material-icons" ng-click="editGram(companyList,companyList.companyGram)" >mode_edit</button>-->
						<a ui-sref="homeParent.tvTickerView" style="display: block"
						class="material-icons">mode_edit</a>
					</td>
				</tr>
				<!-- <tr
					dir-paginate="companyList in list = ( companyLists |filter: searchText| orderBy: 'name' |itemsPerPage:selected.rowLimit )">
					<td>{{companyList.name}}</td>
					<td>{{companyList.abbrName}}</td>
					<td>{{companyList.scripCode}}</td>
					<td>{{companyList.scripId}}</td>
					<td>{{companyList.grams}}</td>
					<td></td>
				</tr> -->
				<tr>
					<td colspan='6' ng-if=" list.length === 0">No Records Found</td>
				</tr>
			</table>
		</div>

		<div class="row">
			<div class="col-xs-12 smallFont">
				<div class="col-xs-4">
					<dir-pagination-controls
						template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
				</div>
				<div class="col-xs-8 rightAlign">
					<dir-pagination-controls max-size="10" direction-links="true"
						boundary-links="true"> </dir-pagination-controls>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>

