<div class="container-fluid">
	<div class="col-xs-12 ">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 alignCenter">
			<h3>TV Ticker Details</h3>
		</div>
		<div class="col-xs-4">
			<br />
			<button type="button" class="btn btn-primary pull-right">
				<a ui-sref="homeParent.tvTicker"
					style="display: block; color: white; text-decoration: none;">Back</a>
			</button>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h5>
				<strong>Image</strong>
			</h5>
			<img src="/images/2018_11_06_14_2_20.84.jpg"
				height="400px; width:250px" class="img-rounded">
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 ">
			<h5>
				<strong> Details</strong>
			</h5>
			<div class="col-xs-12 box">
				<div class="table-reponsive">
					<table class="table table-striped">
					<thead>
					<th colspan="2" align="center">TV Ticker Details</th>
					</thead>
						<tr>
							<td>Company Name</td>
							<td>Orient Cement</td>
						</tr>
						<tr>
							<td>Ticker Name</td>
							<td>Taking Measures to reduce per unit cost of production</td>
						</tr>
						<tr>
							<td>Commodity</td>
							<td>-</td>
						</tr>
						<tr>
							<td>Frequency</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Time</td>
							<td>2018:11:22 08:35:40</td>
						</tr>
					</table>

<div class="col-xs-12 alignCenter">
			Timeline<select ng-model='selected.rowLimit'
				ng-options=' option for option in rowLimitOptionArray' required></select>
		</div>
				</div>
				
			</div>
		</div>
	</div>
	<br>
	
	<br>
</div>
