<div class="container-fluid">
<div class="card">
		<div class="row">
			<div class="col-xs-12 alignCenter card-header">
				<h3 style="font-size: 20px; text-align: center; margin-top: 0;">TV Ticker</h3>
			</div>
		</div>

	<div class="">
		<div class="col-xs-12 ">
			<flash-message duration="5000" show-close="true"
				on-dismiss="myCallback(flash);"></flash-message>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 paddingClass smallFont">
			<div class="col-xs-6">
				<div class="col-xs-1 ">Search:&nbsp;</div>
				<div class="col-xs-7" >
				<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
				</div>
				<div class="col-xs-3 rightAlign ">
					Channel List <select ng-model='selected.rowLimit'
					ng-options=' option for option in rowLimitOptionArray' required></select>
				</div>	
			</div>
			<div class="col-xs-6 ">
				<div class="col-xs-1 rightAlign paddingClass">From: &nbsp;</div>
				<div class="col-xs-3 smallFont ">
					<div class="input-group input-append date " id="datePicker">
						<input type="text" placeholder="DD-MM-YYYY"
							class=" form-control dateText" ng-model="startDate" name="date"
							id="datePicker" /> <span class="input-group-addon add-on"><span
							class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-xs-1 rightAlign paddingClass">To: &nbsp;</div>
				<div class="col-xs-3 smallFont ">
					<div class="input-group input-append date" id="datePicker1">
						<input type="text" placeholder="DD-MM-YYYY"
							class=" form-control dateText" ng-model="endDate" name="date"
							id="datePicker1" /> <span class="input-group-addon add-on"><span
							class="glyphicon glyphicon-calendar"></span></span>
					</div> 
				</div>
				<div class="col-xs-4 smallFont paddingClass rightAlign">
				<div class="col-xs-11">
				showing <select ng-model='selected.rowLimit' required
					ng-options=' option for option in rowLimitOptionArray'></select>
				entries
			</div></div>	
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="card">
				<div >
					<h3 style="color:#3a487d;">Real Time</h3>
				</div>
				<div class="card-body" style="overflow-y: scroll; height: 500px;">
					<table>
						<thead>
							<tr>
								<th>Company</th>
								<th>Ticker Name</th>
								<th>Frequency</th>
								<th>Time</th>
							</tr>
						</thead>
						<tr>
							<td>Orient Cements</td>
							<td>Taking Measures to Reduce per unit cost of production</td>
							<td>5</td>
							<td>08:35:40</td>
						</tr>
						<tr
							dir-paginate="companyList in list = ( companyLists |filter: searchText| orderBy: 'name' |itemsPerPage:selected.rowLimit)">
							<td>{{companyList.name}}</td>
							<td>{{companyList.abbrName}}</td>
							<td>{{companyList.scripCode}}</td>
							<td>{{companyList.scripId}}</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
		<div class="card">
			<!-- <div class="col-sm-12 box">
			<h5>
				<strong> Top 10 tickers</strong>
			</h5>
			<div class="table-reponsive">
				<table class="table">
					<thead>
						<tr>
							<th>Company</th>
							<th>Ticker Name</th>
							<th>Frequency</th>
							<th>Time</th>
						</tr>
					</thead>
					<tr>
						<td>Orient Cements</td>
						<td>Taking Measures to Reduce per unit cost of production</td>
						<td>5</td>
						<td>08:35:40</td>
					</tr>
					
				</table>
			</div>
		</div> -->

			<div >
				<h3 style="color:#3a487d;">Top 10 tickers</h3>
			</div>
			<div class="card-body">
				<table>
					<thead>
						<tr>
							<th>Company</th>
							<th>Ticker Name</th>
							<th>Frequency</th>
							<th>Time</th>
						</tr>
					</thead>
					<tr>
						<td><a data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;">Orient Cements</a></td>
						<td>Taking Measures to Reduce per unit cost of production</td>
						<td>5</td>
						<td>08:35:40</td>
					</tr>
					<tr>
						<td><a data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;">Orient Cements</a></td>
						<td>Taking Measures to Reduce per unit cost of production</td>
						<td>5</td>
						<td>08:35:40</td>
					</tr>
				</table>
			</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 smallFont alignLeft">
				<div class="col-xs-2">
					<dir-pagination-controls
						template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
				</div>
				<div class="col-xs-10">
					<dir-pagination-controls max-size="10" direction-links="true"
						boundary-links="true"> </dir-pagination-controls>
				</div>
			</div>
		</div>
		
		</div>
		<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ticker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
					<div class="modal-body">
						<div class="col-xs-12 card" style="width:100%">
							<img class="card-img-top" src="images/2018_11_06_14_2_20.84.jpg"
								height="400px; width:250px" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>	
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#datePicker').datepicker({
			format : 'dd-mm-yyyy'
		});
		$('#datePicker1').datepicker({
			format : 'dd-mm-yyyy'
		});
	});
	$('#myModal').on('shown.bs.modal', function () {
		  $('#myInput').trigger('focus')
		})

</script>