<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
	<div class="col-xs-12">
		<div class="col-xs-3">
			<img src="images/bselogo.png" alt="bse logo">
		</div>
		<div class="col-xs-6 alignCenter">
			<h1 class="headingBse"><b>Social Media Analytics</b></h1>
		</div>
		<div class="col-xs-3 rightAlign" >
		<br>
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
							<div class="navbar-login">
								<div class="row">
									<div class="col-lg-4">
										<p class="text-center">
											<span class="fa fa-user fa-5x icon-size"></span>
										</p>
									</div>
									<div class="col-lg-8">
										<p class="text-right capitalize2">
											<strong>{{userName}}</strong>
										</p>
										<!--  email <p class="text-left small">correoElectronico@email.com</p>-->                                       										
										<p class="text-right">
											<a ui-sref="changePassword" style="display: block;">Change Password</a>
										</p>
										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="parentRequest" style="display: block;">Requests</a>
										</p>
										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;">Audit Log</a>
										</p>
										<button type="submit"
											class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
									</div>
								</div>
							</div>
						</li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
	</div>
 
	<div class="row menu-wrapper">
	<div class="col-md-2" style="padding-top:1px; padding-left:1px;padding-bottom:10px;">
	 <aside>
          <div class="sidebar left ">
            <ul class="list-sidebar bg-defoult">
              <li class="list-sidebar" ng-class="{'active':menu.current=='home'}"> 
              <a ui-sref="homeParent.home" data-toggle="collapse" data-target="#dashboard"  > 
              <img src="/images/home1.png" height="50px;" width="50px" class="img-rounded">
               <span class="nav-label"> Home </span> </a>
            </li>
            <li class="list-sidebar" ng-class="{'active':menu.current=='company'}"> <a ui-sref="homeParent.company"> <img src="/images/business.png" height="50px" width="50px" class="img-rounded"> <span class="nav-label">Company</span></a> </li>
            
           <li class="list-sidebar" ng-class="{'active':menu.current=='web'}"> <a data-toggle="collapse" data-target="#tables" > <span class="nav-label"><img src="/images/website.png" height="50px" width="50px" class="img-rounded">Web Source</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="tables" >
              <li><a ui-sref="homeParent.webSource"> Source</a></li>
              <li><a ui-sref="homeParent.webKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li  class="list-sidebar" ng-class="{'active':menu.current=='twitter'}"> <a data-toggle="collapse" data-target="#twitter"  > <img src="/images/twitter.png" height="50px" width="50px" class="img-rounded"><span class="nav-label">Twitter</span><span class="fa fa-chevron-left pull-right submenu-icon "  style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="twitter" >
              <li><a ui-sref="homeParent.twitterSource"> Source</a></li>
              <li><a ui-sref="homeParent.twitterKeyword">Keywords</a></li>
          </ul>
        </li>
        
         <li class="list-sidebar" ng-class="{'active':menu.current=='facebook'}"> <a data-toggle="collapse" data-target="#facebook" ><img src="/images/facebooklogo.png" height="50px" width="50px" class="img-rounded"> <span class="nav-label">Facebook</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="facebook" >
              <li><a ui-sref="homeParent.facebookSource"> Source</a></li>
              <li><a ui-sref="homeParent.facebookKeyword">Keywords</a></li>
          </ul>
        </li>
        <li class="list-sidebar" ng-class="{'active':menu.current=='videototext'}"> <a ui-sref="homeParent.videoToText" data-toggle="collapse" data-target="#dashboard" > <img src="/images/video-icon-8030.jpg" height="50px" width="50px" class="img-rounded"> <span class="nav-label"> Video Source</span></a> </li>
  <li class="list-sidebar" ng-class="{'active':menu.current=='tvticker'}"> <a data-toggle="collapse" data-target="#tvticker" > <img src="/images/tv.png" height="50px" width="50px" class="img-rounded"> <span class="nav-label">TV Ticker</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="tvticker" >
              <li><a ui-sref="homeParent.tvTickerReal"> Real Time</a></li>
              <li><a ui-sref="homeParent.tvTicker">Custom</a></li>
          </ul>
        </li>
                <li class="list-sidebar"> <a data-toggle="sidebar-colapse" data-target="#dashboard" ><span id="collapse-icon" class="fa fa-globe"></span>
                <span class="nav-label"> Collapse</span></a> </li>
        
    </ul>
    </div>
    </aside>
	</div>
	<div class="col-md-10 " >	
            <toasty></toasty>
            <section class="content-wrapper"  style="padding:5px 0;">
            	<div ui-view ></div>
            </section>
            </div>
            </div>
            
   <script type="text/javascript">
            $(document).ready(function(){
   $('.button-left').click(function(){
       $('.sidebar').toggleClass('fliph');
   });

   
   $('#sidebarCollapse').on('click', function () {
       $('.sidebar').toggleClass('active');
   });

   $('#collapse-icon').addClass('fa-angle-double-left'); 
   
// Collapse click
	$('[data-toggle=sidebar-colapse]').click(function() {
	    SidebarCollapse();
	});
	function SidebarCollapse () {
	    $('.nav-label').toggleClass('d-none');
	    $('.list-sidebar').toggleClass('d-none');
	    $('.submenu-icon').toggleClass('d-none');
	    $('.sidebar').toggleClass('sidebar-expanded sidebar-collapsed');
	    
	    $('.sidebar').toggleClass('collapsed');

	    // Collapse/Expand icon
	    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
	};


            });
            
   </script>
     