<div class="container-fluid" style="padding-left:0px;padding-right:0px; ">
<!-- Bootstrap NavBar -->

<nav class="navbar navbar-expand-md navbar-dark headerStyle">
 <div class="col-xs-3">
			<img src="images/bselogo1.png" alt="bse logo">
		</div>
<div class="col-xs-6 alignCenter">
			<h1 class="headingBse"><b>Social Media Analytics</b></h1>
		</div>
		<div class="col-xs-3 rightAlign" >
		<br>
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
							<div class="navbar-login">
							<div class="row">
							<div class="col-xs-12">
							<p class="text-center">
											<span class="fa fa-user fa-5x icon-size dot"></span>
										</p>
							</div>
							</div>
								<div class="row">
									<!-- <div class="col-lg-4">
										<p class="text-center">
											<span class="fa fa-user fa-5x icon-size"></span>
										</p>
									</div>
 -->									<div class="col-lg-12">
										<p class="text-left capitalize2">
											<strong>{{userName}}</strong>
										</p>
										<!--  email <p class="text-left small">correoElectronico@email.com</p>-->                                       										
										<p class="text-left">
											<a ui-sref="changePassword" style="display: block;"><i class="fa fa-lock"></i> &nbsp;&nbsp;Change Password</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="parentRequest" style="display: block;"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Requests</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;"><i class="fa fa-history"></i>&nbsp;&nbsp;Audit Log</a>
										</p>
										<button type="submit"
											class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
									</div>
								</div>
							</div>
						</li>
                    </ul>
                </li>
            </ul>
		</div>		
 </nav><!-- NavBar END -->
<!-- Bootstrap row -->
<div  id="body-row">
    <!-- <aside>
          <div class="sidebar left ">
            <ul class="list-sidebar bg-defoult">
            <li class="list-sidebar"> <a data-toggle="sidebar-colapse" data-target="#dashboard" ><span id="collapse-icon" class="fa fa-globe"></span>
                <span class="nav-label"> Collapse</span></a> </li>
        
              <li class="list-sidebar" ng-class="{'active':menu.current=='home'}"> 
              <a ui-sref="homeParent.home" data-toggle="collapse" data-target="#dashboard"  > 
              <img src="/images/home1.png" height="40px;" width="40px" class="img-rounded">
               <span class="nav-label"> Home </span> </a>
            </li>
        <li class="list-sidebar" ng-class="{'active':menu.current=='company'}"> <a ui-sref="homeParent.company"> <img src="/images/business.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">Company</span></a> </li>
            
        <li class="list-sidebar" ng-class="{'active':menu.current=='web'}"> <a data-toggle="collapse" data-target="#tables" > <img src="/images/website.png" height="40px" width="40px" class="img-rounded"><span class="nav-label">Web Source</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="tables" >
              <li class="sub-menu"><a ui-sref="homeParent.webSource"> Source</a></li>
              <li><a ui-sref="homeParent.webKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li  class="list-sidebar treeview" ng-class="{'active':menu.current=='twitter'}"> <a data-toggle="collapse" data-target="#twitter"  > <img src="/images/twitter.png" height="40px" width="40px" class="img-rounded"><span class="nav-label">Twitter</span><span class="fa fa-chevron-left pull-right submenu-icon "  style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="twitter" >
              <li><a ui-sref="homeParent.twitterSource"> Source</a></li>
              <li><a ui-sref="homeParent.twitterKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li class="list-sidebar" ng-class="{'active':menu.current=='facebook'}"> <a data-toggle="collapse" data-target="#facebook" ><img src="/images/facebooklogo.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">Facebook</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="facebook" >
              <li><a ui-sref="homeParent.facebookSource"> Source</a></li>
              <li><a ui-sref="homeParent.facebookKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li class="list-sidebar" ng-class="{'active':menu.current=='videototext'}"> <a ui-sref="homeParent.videoToText" data-toggle="collapse" data-target="#dashboard" > <img src="/images/video-icon-8030.jpg" height="40px" width="40px" class="img-rounded"> <span class="nav-label"> Video Source</span></a> </li>
  		<li class="list-sidebar" ng-class="{'active':menu.current=='tvticker'}"> <a data-toggle="collapse" data-target="#tvticker" > <img src="/images/tv.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">TV Ticker</span><span class="fa fa-chevron-left pull-right submenu-icon" style="padding:20px 0"></span></a>
          <ul  class="sub-menu collapse" id="tvticker" >
              <li><a ui-sref="homeParent.tvTickerReal"> Real Time</a></li>
              <li><a ui-sref="homeParent.tvTicker">Custom</a></li>
          </ul>
        </li>            
    </ul>
    </div>
    </aside>

 -->  
   <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="./AdminLTE 2 _ Data Tables_files/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="https://adminlte.io/themes/AdminLTE/pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
          </ul>
        </li>
        <li class="treeview active menu-open">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li class="active"><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        <li>
          <a href="https://adminlte.io/themes/AdminLTE/pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="https://adminlte.io/themes/AdminLTE/pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
              <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="treeview">
                  <a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="https://adminlte.io/themes/AdminLTE/pages/tables/data.html#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      <li class="bg-success"><a href="https://themequarry.com/" style="background-color: rgb(0, 166, 90);"><i class="fa fa-star-o" style="color: rgb(255, 255, 255);"></i><span style="color: rgb(255, 255, 255);">Premium Templates</span></a></li></ul>
    </section>
    <!-- /.sidebar -->
  </aside>
 
 
   <!-- MAIN -->
   <div class="main-content" >	
            <toasty></toasty>
            <section class="content-wrapper"  style="padding:5px 0;">
            	<div ui-view ></div>
            </section>
            </div>
        
</div><!-- body-row END -->

    
</div>
   <script type="text/javascript">
            $(document).ready(function(){
   $('.button-left').click(function(){
       $('.sidebar').toggleClass('fliph');
   });

   
   $('#sidebarCollapse').on('click', function () {
       $('.sidebar').toggleClass('active');
   });

   $('#collapse-icon').addClass('fa-angle-double-left'); 
   
// Collapse click
	$('[data-toggle=sidebar-colapse]').click(function() {
	    SidebarCollapse();
	});
	function SidebarCollapse () {
	    $('.nav-label').toggleClass('d-none');
	    $('.list-sidebar').toggleClass('d-none');
	    $('.submenu-icon').toggleClass('d-none');
	    $('.sidebar').toggleClass('sidebar-expanded sidebar-collapsed');
	    
	    $('.sidebar').toggleClass('collapsed');

	    // Collapse/Expand icon
	    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
	};


            });
            
   </script>
