<div class="container-fluid" style="padding-left:0px;padding-right:0px; ">
<!-- Bootstrap NavBar -->

<nav class="navbar navbar-expand-md headerStyle">
 <div class="col-xs-3">
			<div class="paddingLeft"><img src="images/bselogo1.png" alt="bse logo"></div>
		</div>
<div class="col-xs-6 alignCenter">
			<h1 class="headingBse"><b>Social Media Analytics</b></h1>
		</div>
		<div class="col-xs-3 rightAlign" >
		<br>
			 <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
							<div class="navbar-login">
							<div class="row">
							<div class="col-xs-12">
							<p class="text-center">
											<span class="fa fa-user fa-5x icon-size dot"></span>
										</p>
							</div>
							</div>
								<div class="row">
									<!-- <div class="col-lg-4">
										<p class="text-center">
											<span class="fa fa-user fa-5x icon-size"></span>
										</p>
									</div>
 -->									<div class="col-lg-12">
										<p class="text-left capitalize2">
											<strong>{{userName}}</strong>
										</p>
										<!--  email <p class="text-left small">correoElectronico@email.com</p>-->                                       										
										<p class="text-left">
											<a ui-sref="changePassword" style="display: block;"><i class="fa fa-lock"></i> &nbsp;&nbsp;Change Password</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="parentRequest" style="display: block;"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Requests</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;"><i class="fa fa-history"></i>&nbsp;&nbsp;Audit Log</a>
										</p>
										<button type="submit"
											class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
									</div>
								</div>
							</div>
						</li>
                    </ul>
                </li>
            </ul>
		</div>		
 </nav><!-- NavBar END -->
<!-- Bootstrap row -->
<div  id="body-row">
    <aside>
          <div class="sidebar left ">
            <ul class="list-sidebar bg-defoult">
             <li > <a data-toggle="sidebar-colapse" data-target="#dashboard" ><span id="collapse-icon" class="fa fa-globe"></span>
                <span class="nav-label"> </span></a> </li>
       
              <li class="list-sidebar" ng-class="{'active':menu.current=='home'}"> 
              <a ui-sref="homeParent.home" data-toggle="collapse" data-target="#dashboard"  > 
              <img src="/images/home1.png" height="40px;" width="40px" class="img-rounded">
               <span class="nav-label"> Home </span> </a>
            </li>
        <li class="list-sidebar" ng-class="{'active':menu.current=='company'}"> <a ui-sref="homeParent.company"> <img src="/images/business.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">Company</span></a> </li>
            
        <li class="list-sidebar" ng-class="{'active':menu.current=='web'}"> <a data-toggle="collapse" data-target="#tables" > 
        <img src="/images/website.png" height="40px" width="40px" class="img-rounded"><span class="nav-label">Web Source</span>
<!--         <span class="fa fa-chevron-left pull-right submenu-icon iconStyle" style="padding:0px 0"></span>
 -->        <span class="glyphicon glyphicon-chevron-down pull-right submenu-icon "></span>
         </a>
          <ul  class="sub-menu collapse" id="tables" >
              <li ng-class="{'active':menu.current=='webSource'}"><a ui-sref="homeParent.webSource"> Source</a></li>
              <li ng-class="{'active':menu.current=='webKeyword'}"><a ui-sref="homeParent.webKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li  class="list-sidebar" ng-class="{'active':menu.current=='twitter'}"> <a data-toggle="collapse" data-target="#twitter"  > 
        <img src="/images/twitter.png" height="40px" width="40px" class="img-rounded"><span class="nav-label">Twitter&nbsp;</span>
        <!-- <span class="fa fa-chevron-left pull-right submenu-icon" style="padding: 12px 0;"></span> -->
         <span class="glyphicon glyphicon-chevron-down pull-right iconStyle submenu-icon"></span>
        </a>
          <ul  class="sub-menu collapse" id="twitter" >
              <li ng-class="{'active':menu.current=='twitterSource'}"><a ui-sref="homeParent.twitterSource"> Source</a></li>
              <li ng-class="{'active':menu.current=='twitterKeyword'}"><a ui-sref="homeParent.twitterKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li class="list-sidebar" ng-class="{'active':menu.current=='facebook'}"> <a data-toggle="collapse" data-target="#facebook" >
        <img src="/images/facebooklogo.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">Facebook</span>
        <!-- <span class="fa fa-chevron-left pull-right submenu-icon iconStyle" style="padding:0px 0"></span> -->
         <span class="glyphicon glyphicon-chevron-down pull-right iconStyle submenu-icon"></span>
        </a>
          <ul  class="sub-menu collapse" id="facebook" >
              <li ng-class="{'active':menu.current=='facebookSource'}"><a ui-sref="homeParent.facebookSource"> Source</a></li>
              <li ng-class="{'active':menu.current=='homeParent.facebookKeyword'}"><a ui-sref="homeParent.facebookKeyword">Keywords</a></li>
          </ul>
        </li>
        
        <li class="list-sidebar" ng-class="{'active':menu.current=='videototext'}"> <a ui-sref="homeParent.videoToText" data-toggle="collapse" data-target="#dashboard" > <img src="/images/video-icon-8030.jpg" height="40px" width="40px" class="img-rounded"> <span class="nav-label"> Video Source</span></a> </li>
  		<li class="list-sidebar" ng-class="{'active':menu.current=='tvticker'}"> <a data-toggle="collapse" data-target="#tvticker" >
  		 <img src="/images/tv.png" height="40px" width="40px" class="img-rounded"> <span class="nav-label">TV Ticker</span>
  		 <!-- <span class="fa fa-chevron-left pull-right submenu-icon " style="padding:0px 0"></span> -->
  		  <span class="glyphicon glyphicon-chevron-down pull-right iconStyle submenu-icon" ></span>
  		 </a>
          <ul  class="sub-menu collapse" id="tvticker" >
              <li><a ui-sref="homeParent.tvTickerReal"> Real Time</a></li>
              <li><a ui-sref="homeParent.tvTicker">Custom</a></li>
          </ul>
        </li>
                    
    </ul>
    </div>
    </aside>

    <!-- MAIN -->
   <div class="main-content" >	
            <toasty></toasty>
            <section class="content-wrapper"  style="padding:2px 0;">
            	<div ui-view ></div>
            </section>
            </div>
        
</div><!-- body-row END -->

    
</div>
   <script type="text/javascript">
            $(document).ready(function(){
  /* $('.button-left').click(function(){
       $('.sidebar').toggleClass('fliph');
   });

   
   $('#sidebarCollapse').on('click', function () {
       $('.sidebar').toggleClass('active');
   });*/

   $('#collapse-icon').addClass('fa-angle-double-left'); 
   
// Collapse click
	$('[data-toggle=sidebar-colapse]').click(function() {
	    SidebarCollapse();
	});
	function SidebarCollapse () {
	   /* $('.nav-label').toggleClass('d-none');
	    $('.list-sidebar').toggleClass('d-none');
	    $('.submenu-icon').toggleClass('d-none');*/
	    $('.sidebar').toggleClass('sidebar-collapsed');
	    
/* 	    $('.sidebar').toggleClass('collapsed');
 */
	    // Collapse/Expand icon
	    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
	};


            });
            
   </script>
