<div class="container"style="padding-top: 100px;">
   <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
         <div class="col-xs-12 col-sm-12  col-md-12 well well-sm" style="padding-left: 10px;padding-right: 10px;padding-top:0px;padding-bottom:0px;">
            <legend><a href=""><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form ng-submit="signup(signupCredentials)" class="form" role="form" name="signupform">
               <div class="row" >
                  <div class="col-xs-6 col-md-6" style="padding-right: 10px;" >
                     <input type="text" class="form-control" ng-model="signupCredentials.firstname" placeholder="First Name" name="firstname"  ng-pattern="/^[a-zA-Z]{2,50}$/" required/>
                     <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.firstname.$dirty&&signupform.firstname.$error.pattern" class="help-block">Only alphabets are allowed</span>
                  </div>
                  <div class="col-xs-6 ">
                     <input type="text" class="form-control" ng-model="signupCredentials.lastname" placeholder="Last Name" name="lastname"  ng-pattern="/^[a-zA-Z]{2,50}$/" required/>
                     <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.lastname.$dirty&&signupform.lastname.$error.pattern" class="help-block">Only alphabets are allowed</span>
                  </div>
               </div>
               <br>
               <input type="text" class="form-control" ng-model="signupCredentials.username" placeholder="Username" name="username"  ng-pattern="/^(?=.*[a-zA-Z])[a-zA-Z0-9]{5,}$/" required/>
               <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.username.$dirty&&signupform.username.$error.pattern" class="help-block" >Atleast 5 characters,No special characters is allowed</span>
               <br>
               <input type="text" class="form-control" ng-model="signupCredentials.email" placeholder="Email" name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required/>
               <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.email.$dirty&&signupform.email.$error.pattern" class="help-block" >Enter valid email</span>
               <br>
               <div class="row" >
                  <div class="col-xs-6 col-md-6" style="padding-right: 10px;">
                     <input type="password" class="form-control" ng-model="signupCredentials.password" placeholder="Password" name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{7,}$/" required=""/>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <input type="password" class="form-control" ng-model="signupCredentials.confirmpassword" placeholder="Confirm Password" name="confirmpassword" ng-pattern="signupCredentials.password" required=""/>
                  </div>
               </div>
               <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.password.$dirty&&signupform.password.$error.pattern">Atleast 8 characters,with minimum 1 uppercase,lowercase,number,special character</span>        
               <span style="color:Red;margin-top: 0px;margin-bottom: 0px;" ng-show="signupform.confirmpassword.$dirty&&signupform.confirmpassword.$error.pattern">These passwords don't match. Try again?</span> 
               <br>
               <b>Note: </b>You will be registered successfully, only if administrator provides permission.
               After that you can proceed to login.
               <span class="text-danger">{{ error }}</span>
               <button type="submit" class="btn btn-primary btn-md pull-right" ng-disabled="signupform.firstname.$invalid||signupform.lastname.$invalid||signupform.username.$invalid || signupform.password.$invalid||signupform.confirmpassword.$invalid"><b>Register</b></button>
               <br>
               
               <br>
               Go back  <a ui-sref="login" >Login Here</a><br>
            </form>
         </div>
      </div>
      <div class="col-xs-4"></div>
   </div>
</div>