<div class="container-fluid">
<div class="card">
      <div class="row1">
         <div class="col-xs-12">
            <div class="col-xs-3 smallFont">
               <button ng-show="permissions" type="button" class="btn btnAdd float-right" ng-click="reset()" data-toggle="modal" data-target="#videoSourceModal" data-backdrop="false">
               <i class="fa fa-plus" ng-show="permissions"></i> Add Video Source
               </button>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-xs-6 alignCenter">
               <h3 class="title1">Video To Text</h3>
            </div>
            <div class="col-xs-3 rightAlign smallFont ">
		        <button type="button" class="btn btnAdd " ng-show="isVideoUrl" ng-click="terminateProcess()" >
		        	<i class="fa fa-remove" ></i> Terminate Process 
		        </button> 
            </div>
         </div>
      </div>
   <!-- .row end -->
   <div class="row">   
	  <div class="col-xs-3">
			<button class="btn btn-primary" ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles" ng-click="resetData()" ng-show="islocalVideo">Select File</button>    
			<!--label ng-show="isVideoUrl" class="pull-left">URL:</label-->
			 <strong ng-show="isVideoUrl" class="pull-left">Choose Channel :&nbsp&nbsp</strong>
			<!--input type="text" ng-model="youtubeVideoUrl" ng-show="isVideoUrl"-->
			<select  ng-show="isVideoUrl" class="form-control pull-left" style="width: 135px;" ng-model="selectedNewsChannel" ng-options="x for x in NewsChannel"></select>        		               				
	  </div>
	  <div class="col-xs-3">
			<button class="btn btn-primary" ng-click="uploadFile()" ng-show="islocalVideo">Process</button>
			<button class="btn btn-primary" ng-click="sendLiveUrl()" ng-show="isVideoUrl">Process</button>
	  </div>
	  <div class="col-xs-3 "></div>
      <div class="col-xs-3 rightAlign">
       <strong>Choose Language :&nbsp&nbsp </strong>
         <select class="form-control pull-right" style="width: 120px;" ng-model="selectedDestinationlanguage" ng-options="x for x in language"></select>       	               				
      </div>
   </div>
   <div class="divloading"  ng-show="isProcessing"></div>
   <div class="row1">
      <div class="col-sm-12 col-md-4 col-lg-4">
		  <div class="card">
		    <div class="card-body">
		      <h5 class="card-title">Source Video</h5>
		         <video width="100%" src={{hi}} controls ng-show="!islocalVideo && !issuspiciousVideo && !isVideoUrl"></video>
		         <video id="localVideo" width="100%" ngf-src="!files[0].$error && files[0]" controls ng-show="islocalVideo"></video>
		         <video id="suspiciousVideo" width="100%" src={{video_path}} controls ng-show="issuspiciousVideo || isVideoUrl" autoplay></video>
		         <div>
		         	<label ng-show="issuspiciousVideo">Video Date : </label>{{videoMetadata[0].date}}</br>
		         </div>
		         <div class="scrollbar-ripe-malinka" style="overflow-y: scroll;height:100px;" id="companyNameDiv" ng-hide="islocalVideo">
		            <h5><strong>Company Name</strong></h5>
		             <li class="capsule" ng-show="isVideoUrl"> {{company_names}}</li>  
		             <li class="capsule" ng-show="issuspiciousVideo" ng-repeat="company in videoMetadata[0].company_names" > {{company}}, </li>
		         </div>
		         <div class="scrollbar-ripe-malinka" style="overflow-y: scroll;height:100px;" id="rumoursKeywordDiv" ng-hide="islocalVideo">
		            <h5><strong>Rumours Keyword</strong></h5>
		            <li class="capsule" ng-show="isVideoUrl"> {{keywords}}</li>   
		            <li class="capsule" ng-show="issuspiciousVideo" ng-repeat="keyword in videoMetadata[0].keywords" > {{keyword}},</li> 
		         </div>	
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>    	
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 475px;" id="sourceTextDiv">
		  <div class="card">
		    <div class="card-body">
		      <h5 class="card-title">{{selectedSourcelanguage}} Text</h5>
		      <p class="card-text"> {{sourceText}}</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 3 mins ago</small>
		    </div>
		  </div>             		
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 475px;" id="destinationTextDiv">
         <h5><strong>{{selectedDestinationlanguage}} Text</strong></h5>
         {{destinationText}}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4"></div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-hide="isVideoUrl">
	      <a ng-href="{{ sourceFileUrl }}" download="{{videofileName}}_{{selectedSourcelanguage}}_{{today}}.txt">
	      <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
	      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-hide="isVideoUrl">
	      <a ng-href="{{ destinationFileUrl }}" download="{{videofileName}}_{{selectedDestinationlanguage}}_{{today}}.txt">
	      <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
	      </a>
      </div>
    </div>
   <br>
</div>
<!-- container fluid -->
<!-- Pop up Window -->
<div class="modal fade" id="videoSourceModal" role="dialog">
<div class="modal-dialog modal-sm">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title alignCenter">Video Source</h4>
      </div>
      <form name="form.videoSourceModalForm" ng-submit="addingVideoSource(video_Source)" novalidate>
         <div class="modal-body">
            <div class="form-group"> 
               <input type="radio" class="radio-inline" ng-model="video_Source" value="video_url" required>&nbsp &nbsp<label>Live URL </label></br>
               <input type="radio" class="radio-inline" ng-model="video_Source" value="rumours_video">&nbsp &nbsp<label> Suspicious Videos </label></br> 
               <input type="radio" class="radio-inline" ng-model="video_Source" value="local_video">&nbsp &nbsp<label> Local Videos </label>
               <!--div id="ifYes" style="display:none">
			        If yes, explain: <input type='text' id='yes' name='yes'><br>
			        What can we do to accommodate you?  <input type='text' id='acc' name='acc'>
		    	</div-->
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary pull-left" ng-disabled="form.videoSourceModalForm.$invalid">Next</button>	
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>							
            </div>
         </div>
      </form>
   </div>
</div>
</div>
</div>