<div class="form-gap" style=" padding-top: 70px;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3>
							<i class="fa fa-lock fa-4x"></i>
						</h3>
						<h2 class="text-center">Forgot Password?</h2>
						<p>You can reset your password here.</p>
						<div class="panel-body">
							<form name="resetPassword" id="register-form" role="form" autocomplete="off"
								class="form" ng-submit="resetPassword(passwordCredentials)">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span> 
										<input type="email" name="email" ng-model="passwordCredentials.text" placeholder="email address" class="form-control" required>
									</div>
								</div>
								<!--<div class="form-group">
										<input type="password" class="form-control"
											ng-model="passwordCredentials.password" placeholder="Password"
											name="password"
											ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{7,}$/"
											required="" /> <span style="color: Red; margin-top: 5px;"
											ng-show="resetPassword.password.$dirty&&resetPassword.password.$error.pattern">1 number,lower,upper, special and min 8 characters.</span>
								</div>
								<div class="form-group">
										<input type="password" class="form-control" ng-model="passwordCredentials.confirmpassword" placeholder="Confirm Password" name="confirmpassword" ng-pattern="signupCredentials.password" required=""/>
            							<span style="color:Red;margin-top: 5px;" ng-show="resetPassword.confirmpassword.$dirty&&resetPassword.confirmpassword.$error.pattern">These passwords don't match. Try again?</span>
        						
        							</div>
        							-->
								<div class="form-group">
									<input name="recover-submit" class="btn btn-lg btn-success btn-block"
										value="Send" type="submit" ng-disabled="resetPassword.email.$invalid" >
								</div>
						 Remember password? <a ui-sref="login" >Login Here</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>