	<div class="container-fluid">
	<div class="card">
     	<div class="row1">
			<div class="col-xs-12 ">
				<div class="col-xs-4"></div>
					<div class="col-xs-3 alignCenter ">
						<h3 class="	title1">All Requests</h3> 
					</div>
				<div class="col-xs-5 rightAlign">                 
				 <button type="button" class="btn btnAdd pull-right">
					<a ui-sref="homeParent.home" style="display: block; color: white; text-decoration: none;">Back</a>
				  </button>   
				</div>
			</div>
		</div>
		<div class="row1">
		   	<div >
					<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
			</div>
   		</div>
   		 <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap smallFont">
            <div class="col-sm-6">
               <div class="dataTables_length" id="example1_length">
                  showing  
                  <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
                  entries
               </div>
            </div>
            <div class="col-sm-6 rightAlign">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img src="/images/xls-icon1.png"
						height="20px" width="20px" class="img-rounded">
					</a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
						height="20px" width="20px" class="img-rounded">
					</a> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;					
                  <input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
   		
		<div class="card-body">
		<table>
		<thead>
			<tr>
				<!-- <th><input type="checkbox" ng-model="selectAllRequest" ng-click="checkAllRequest()" /></th> -->
				<th>Request Id</th>
				<th>Requested By</th>
				<th>Requested Operation</th>
				<th>Existing Value</th>
				<th>Requested Value</th>
				<th>Media Type</th>
				<th>Category</th>
				<th>Status</th> 
			</tr>
		</thead>
		<tr dir-paginate="request in list = ( allRequestList |filter: searchText |itemsPerPage:selected.rowLimit | orderBy: 'id' )">
			<!-- <td><input type="checkbox" ng-model="request.select" ng-click="requestSetting(request.select)"></td> -->
			<td>{{request.id}}</td>
			<td>{{request.requestedBy}}</td>
			<td>{{request.requestedOperation}}</td>
			<td ng-show="request.requestedOperation == 'ADD'">{{request.addexistingValue}}</td>
			<td ng-show="request.requestedOperation != 'ADD'">{{request.existingValue}}</td>
			<td ng-show="request.requestType.requestMedia == 'all'">{{request.companyrequestedValue}}</td>
			<td ng-show="request.requestType.requestMedia != 'all'">{{request.requestedValue}}</td>
			<td>{{request.requestType.requestMedia}}</td>
			<td>{{request.requestType.requestType}}</td>
			<td >{{request.requestStatus}}</td>
		</tr>
		<tr><td colspan='8' ng-if=" list.length === 0">No Records Found</td></tr>
	</table></div>
	<!-- Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
 -->
	<div class="row1">
		<div class="col-xs-12 smallFont">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	
	</div> <!-- .col-12 --> 
    </div> <!-- container fluid -->
