<div class="container-fluid"
	style="padding-left: 0px; padding-right: 0px;">
	<div class="col-xs-12">
		<div class="col-xs-3">
			<img src="images/bselogo1.png" alt="bse logo">
		</div>
		<div class="col-xs-6 alignCenter">
			<h1 class="headingBse">
				<b>Social Media Analytics</b>
			</h1>
		</div>
		<div class="col-xs-3 rightAlign" style="padding-right: 15px">
			<br>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> <strong
							class="capitalize2">{{userName}}</strong> <span
							class="glyphicon glyphicon-chevron-down"></span>
					</div>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-login">
								<div class="row">
									<div class="col-xs-12">
										<p class="text-center">
											<span class="fa fa-user fa-5x icon-size dot"></span>
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<p class="text-left capitalize2">
											<strong>{{userName}}</strong>
										</p>
										<!--  email <p class="text-left small">correoElectronico@email.com</p>-->
										<p class="text-left">
											<a ui-sref="changePassword" style="display: block;"><i
												class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="parentRequest" style="display: block;"><i
												class="fa fa-tasks"></i>&nbsp;&nbsp;Requests</a>
										</p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;"><i
												class="fa fa-history"></i>&nbsp;&nbsp;Audit Log</a>
										</p>
										<button type="submit"
											class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout"
												style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<br>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs">
					<li class=" nav-link" ng-class="{'active':menu.current=='all'}"><a
						data-toggle="tab" ui-sref="parentRequest.all">All</a></li>
					<li class="nav-link" ng-class="{'active':menu.current=='pending'}"><a
						data-toggle="tab" ui-sref="parentRequest.pending">Pending</a></li>
					<li class="nav-link" ng-class="{'active':menu.current=='approved'}"><a
						data-toggle="tab" ui-sref="parentRequest.approved">Approved</a></li>
					<li class="nav-link" ng-class="{'active':menu.current=='rejected'}"><a
						data-toggle="tab" ui-sref="parentRequest.rejected">Rejected</a></li>
				</ul>
				<div class="tab-content">
					<toasty></toasty>
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
	<!-- container fluid -->
</div>