<div class="container-fluid">
   <div class="card">
      <div class="row1">
         <div class="col-xs-12">
            <div class="col-xs-3"> </div>
            <div class="col-xs-6 alignCenter ">
               <h3 class="title1">Web Source List</h3>
            </div>
         </div>
      </div>
      <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-6">
               <div class="dataTables_length" id="example1_length">
                  showing  
                  <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
                  entries
               </div>
            </div>
            <div class="col-sm-6 rightAlign">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search Link" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="card-body">
         <table>
            <thead>
               <tr>
                  <th  ng-click="sortData('link')" >
                     RSS Link
                     <div ng-class="getSortClass('link')"></div>
                  </th>
                  <th  ng-click="sortData('site')">
                     Website
                     <div ng-class="getSortClass('site')"></div>
                  </th>
               </tr>
            </thead>
            <tr dir-paginate="webSource in list = ( webSourceList |filter: searchText|orderBy:sortColumn:reverseSort |itemsPerPage:selected.rowLimit) ">
               <td style="text-align: left;word-wrap: break-word;" >{{webSource.link}}</td>
               <td style="text-align: left;word-wrap: break-word;" ng-show="webSource.htmlUrl">{{webSource.htmlUrl}}</td>
               <td style="text-align: left;word-wrap: break-word;" ng-show="!webSource.htmlUrl">{{webSource.site}}</td>
            </tr>
            <tr>
               <td colspan='2' ng-if=" list.length === 0">No Records Found</td>
            </tr>
         </table>
      </div>
      <!-- Export <button class="btn btn-info" ng-click="export()">excel</button>
         <button class="btn btn-info" ng-click="exportpdf()">pdf</button> -->
      <div class="card-footer">
         <div class="col-xs-12">
            <div class="col-xs-4 smallFont">
               <dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
            </div>
            <div class="col-xs-8 rightAlign smallFont">
               <dir-pagination-controls 
                  max-size="10"
                  direction-links="true"
                  boundary-links="true" >
               </dir-pagination-controls>
            </div>
         </div>
      </div>
   </div>
</div>